.episode__hero {
  background: radial-gradient(circle, rgba(215,156,223,1) 0%, rgba(89,45,91,1) 81%);
  height: 900px;
  display: flex;
  flex-direction: column;
}
.episode_heading {
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 50px;
  font-weight: bold;
  color: lightseagreen;
  text-shadow: 5px 3px 4px rgba(117, 233, 27, 0.84);
  text-align: center;
}
.episode__card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: lawngreen;
  font-size: 30px;
  font-weight: bold;
}
.episode__btn-back {
  border: none;
  background: transparent;
  color: lightseagreen;
  text-shadow: 5px 3px 4px rgba(117,233,27,0.84);
  font-size: 25px;
  font-weight: bold;
  align-self: end;
  cursor: pointer;
  margin-top: 50px;
}
